.navbar {
  background-color: #e3f2fd;
  padding: 5px 5px 5px 100px;
}
.navbar-brand {
  font-weight: 500;
  margin-right: 100px;
}

.nav-item {
  margin-right: 30px;
  .nav-link {
    padding: 0;
    margin: 8px;

    &:active {
      border-bottom: 2px solid #d8d8d8;
    }
  }
}
